@model ContosoUniversity.Features.Department.CreateModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Department</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label(m => m.Name)
            <div class="col-md-10">
                @Html.Input(m => m.Name)
                @Html.Validator(m => m.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.Label(m => m.Budget)
            <div class="col-md-10">
                @Html.Input(m => m.Budget)
                @Html.Validator(m => m.Budget)
            </div>
        </div>

        <div class="form-group">
            @Html.Label(m => m.StartDate)
            <div class="col-md-10">
                @Html.Input(m => m.StartDate)
                @Html.Validator(m => m.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.Label(m => m.Instructor)
            <div class="col-md-10">
                @Html.Input(m => m.Instructor)
                @Html.Validator(m => m.Instructor)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
